[Interface]
Address = {{ADDRESS}}
PrivateKey = {{PRIVATE_KEY}}
ListenPort = 51820
MTU = 1420
DNS = {{DNS}}

[Peer]
PublicKey = {{PUBLIC_KEY}}
AllowedIPs = {{ALLOWED_IPS}}
Endpoint = {{ENDPOINT}}
PresharedKey = {{PRESHARED_KEY}}
PersistentKeepalive = 21
