[Unit]
Description=uCore install software to overlay and reboot
ConditionPathExists=/etc/ucore-autorebase/unverified
ConditionPathExists=/etc/ucore-autorebase/signed
ConditionPathExists=!/etc/ucore-autorebase/setup
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
StandardOutput=journal+console
ExecStart=/usr/bin/chown core:core -R /var/home/core
ExecStart=/usr/bin/loginctl enable-linger core
ExecStart=/usr/bin/systemctl enable cockpit.service podman.service podman.socket
ExecStart=/usr/bin/touch /etc/ucore-autorebase/setup
ExecStart=/usr/bin/systemctl disable post-setup.service
ExecStart=/usr/bin/systemctl reboot

[Install]
WantedBy=multi-user.target
