[Unit]
Description=autorebase to signed OCI and reboot
ConditionPathExists=!/etc/ucore-autorebase/signed
After=network-online.target
Wants=network-online.target
Before=getty.target

[Service]
Type=oneshot
StandardOutput=journal+console
ExecStart=/usr/bin/rpm-ostree rebase --bypass-driver ostree-image-signed:docker://ghcr.io/badbl0cks/ucore-hci-badblocks:latest
ExecStart=/usr/bin/touch /etc/ucore-autorebase/signed
ExecStart=/usr/bin/systemctl disable signed-autorebase.service
ExecStart=/usr/bin/systemctl reboot

[Install]
WantedBy=multi-user.target
